<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'>
    <meta name="author" content="Thomas Reynolds">
    
    <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <meta http-equiv="cleartype" content="on">
    
    <!-- Google Setup -->
    <meta content='VbyiHsqFIT6NSIBRNw/TAnm+9zy0TAmFRiC68lYCoSw=' name='verify-v1'>
    
    <!-- OpenID Setup -->
    <link href='http://www.myopenid.com/server' rel='openid.server'>
    <link href='http://tdreyno.myopenid.com/' rel='openid.delegate'>
    <link href='http://tdreyno.myopenid.com' rel='openid2.local_id'>
    <link href='http://www.myopenid.com/server' rel='openid2.provider'>
    <meta content='http://www.myopenid.com/xrds?username=tdreyno.myopenid.com' http-equiv='X-XRDS-Location'>
    
    <% if is_blog_article? %>
      <title><%= current_article.title %> &laquo; Thomas Reynolds</title>
    <% else %>
      <title>Award Winning Fjords &laquo; Thomas Reynolds</title>
    <% end %>
    
    <!-- Stylesheet -->
    <%= stylesheet_link_tag "new" %>
    
    <!-- RSS -->
    <link href='/feed.xml' rel='alternate' title='Award Winning Fjords' type='application/rss+xml'>
  </head>
  <body>
    <header>
      <h1>
        <%= link_to "Award-Winning Fjords", "/" %>
        <span class="sub">Thomas Reynolds</span>
      </header>
    </header>
    
    <div id="frame">
      <% if is_blog_article? %>
        <article>
          <h2><%= current_article.title %></h2>
          <time><%= current_article.date.strftime('%b %e %Y') %></time>
          <%= current_article.body %>
        </article>
      <% else %>
        <%= yield %>
      <% end %>
    
      <footer>
        <p class="descr">My name is Thomas Reynolds. I'm a Technical Lead at <a href="http://weareinstrument.com">Instrument</a>, lucky denizen of Portland, active Crossfitter, a foodie, a cocktail enthusiast and all-around nerd.</p>
    
        <p>
          <%= link_to "Twitter", "http://twitter.com/tdreyno" %> &bull;
          <%= link_to "Email", "mailto:me@tdreyno.com" %> &bull;
          <%= link_to "Github", "https://github.com/tdreyno" %> &bull;
          <%= link_to "RSS", "/feed.xml" %>
        </p>
      </footer>
    </div>
    
    <%= javascript_include_tag "highlight.pack" %>
    <%= stylesheet_link_tag "solarized_light" %>
    <script>hljs.initHighlightingOnLoad();</script>
    
    <%= partial "tracking" %>
  </body>
</html>