<!doctype html>
<html>
  <head>
    <!--
      SLARTIBARTFAST: Oh, yes. Did you ever go to a place - I think it was called Norway?
      ARTHUR DENT: No. No, I didn't.
      SLARTIBARTFAST: Pity. That was one of mine. Won an award, you know. Lovely crinkly edges.
    -->
    <meta charset="utf-8">
    <meta name="author" content="Thomas Reynolds">
    
    <% if is_blog_article? %>
      <title><%= current_article.title %> &laquo; Thomas Reynolds</title>
    <% else %>
      <title>Award Winning Fjords &laquo; Thomas Reynolds</title>
    <% end %>
    
    <!-- Stylesheet -->
    <%= stylesheet_link_tag :site %>
    
    <!-- RSS -->
    <link href='/feed.xml' rel='alternate' title='Award Winning Fjords' type='application/rss+xml'>
  </head>
  <body>
    <header>
      <h1>
        <%= link_to "Award-Winning Fjords", "/" %>
        <span class="sub">Thomas Reynolds</span>
      </h1>
    </header>
    
    <div id="frame">
      <% if is_blog_article? %>
        <article>
          <h2><%= current_article.title %></h2>
          <time><%= current_article.date.strftime('%b %e %Y') %></time>
          <%= current_article.body %>
        </article>
      <% else %>
        <%= yield %>
      <% end %>
    
      <footer>
        <p class="descr">My name is Thomas Reynolds. I'm an Engineer at <a href="https://www.bitski.com">Bitski</a>, denizen of Portland, baker, engineering leader and functional programmer.</p>
    
        <p>
          <%= link_to "Mastodon", "https://vapeslurry.social/@tdreyno", :rel => "me"  %> &bull;
          <%= link_to "Email", "mailto:me@tdreyno.com" %> &bull;
          <%= link_to "Github", "https://github.com/tdreyno" %> &bull;
          <%= link_to "RSS", "/feed.xml" %>
        </p>
      </footer>
    </div>
  </body>
</html>
