<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <!-- Google Setup -->
    <meta content='VbyiHsqFIT6NSIBRNw/TAnm+9zy0TAmFRiC68lYCoSw=' name='verify-v1' />
    
    <!-- OpenID Setup -->
    <link href='http://www.myopenid.com/server' rel='openid.server' />
    <link href='http://tdreyno.myopenid.com/' rel='openid.delegate' />
    <link href='http://tdreyno.myopenid.com' rel='openid2.local_id' />
    <link href='http://www.myopenid.com/server' rel='openid2.provider' />
    <meta content='http://www.myopenid.com/xrds?username=tdreyno.myopenid.com' http-equiv='X-XRDS-Location' />
    
    <% if is_blog_article? %>
      <title><%= current_article_title %> &laquo; Thomas Reynolds</title>
    <% else %>
      <title>Award Winning Fjords &laquo; Thomas Reynolds</title>
    <% end %>
    
    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css?v2">
    
    <!-- RSS -->
    <link href='http://feeds2.feedburner.com/awf-allposts' rel='alternate' title='Award Winning Fjords' type='application/rss+xml' />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
    <!--script type="text/javascript" src="/javascripts/jqwidont.js"></script-->
  </head>
  <%
    body_class = is_blog_article? ? "post" : "index"
    # body_class = "archives" if @context.has_key? :archives
  %>
  <body class="<%= body_class %>">
    <header>
      <div class="center">
        <h1><a href="/">Award-Winning Fjords</a></h1>
        <h2 class="byline author vcard">
          Words &amp; Wisdom by 
          <span class="fn">Thomas Reynolds</span>
        </h2>

        <p id="social">
          <a href="http://github.com/tdreyno">GitHub</a>, <a href="http://twitter.com/tdreyno">Twitter</a> &amp; <a href="http://portfolio.awardwinningfjords.com">Portfolio</a><br />
          <a id="contact" href="mailto:thomas@awardwinningfjords.com">Contact me</a>
        </p>
      </div>
    </header>
    
    <div id="frame">
      <div id="post">
        <% if is_blog_article? %>
          <% content_for :blog_article, yield %>
          <%= partial settings.blog_article_template %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
      <aside id="previously">
        <p>My name is Thomas Reynolds. I'm a developer at <a href="http://metalabdesign.com">Metalab</a>, lucky denizen of Portland, active Crossfitter, a foodie, a cocktail enthusiast and all-around nerd.</p>
        
        <h2>Projects</h2>
        <ol>
          <li><a href="https://github.com/tdreyno/iphone-style-checkboxes">iPhone-style Checkboxes</a></li>
          <li><a href="https://github.com/tdreyno/middleman">Middleman</a></li>
          <li><a href="http://secondstory.github.com/secondstoryjs-statemachine/">State Machine for JavascriptMVC</a></li>
          <li><a href="http://secondstory.github.com/secondstoryjs-router/">Router for JavascriptMVC</a></li>
          <li><a href="https://github.com/tdreyno/mustache-javascriptmvc">Mustache templates for JavascriptMVC</a></li>
          <li><a href="http://secondstory.github.com/jqueryChop/">jQuery Image Chop</a></li>
          <li><a href="https://github.com/tdreyno/javascriptmvc-pure">Pure templates for JavascriptMVC</a></li>
          <li><a href="https://github.com/tdreyno/compass-slickmap">Slickmap for Compass</a></li>
          <li><a href="https://github.com/tdreyno/compass-baseline">Baseline for Compass</a></li>
        </ol>
        
        <h2>Previously</h2>
        <ol>
          <% data.blog.articles[0...15].each do |article| %>
            <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
          <% end %>
        </li>
      </aside>
    </div>
    
    <script type="text/javascript">
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4d770721192b0c4ab6000002');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    
    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-90027-9']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
        'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
      })();
    </script>
  </body>
</html>
